@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
    font-family: 'Space Mono', monospace;
    color: whitesmoke;
    background-image: url("../images/pexels-stephen-tam-11424935.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

hr {
    width: 500px;
    border: 2px solid chartreuse;
    border-radius: 25px;
}

.title {
    justify-content: center;
    display: flex;
    color: chartreuse;
}

.subtitle {
    justify-content: center;
    display: grid;
    border: 1px solid black;
    height: auto;
    width: 500px;
    padding: 20px;
    margin: 15px 0px 15px 350px;
    background-color: rgba(0, 0, 0, .7);
    background-image: url("../images/alien.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 450px;
    background-position-y: 15px;
}

.headerColor {
    color: fuchsia;
}

.proTip {
    color: orange;
}

#uniqueWord {
    color: orangered;
    font-size: large;
}

a {
    color: seagreen;
    text-decoration-color: aqua;
}